
# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=coffe_ordering_Crm
DB_USER=root
DB_PASS=Ajay@7039

# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=Hiukjl_poewg$5$/5
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d